body {
  text-align: center;
  background-color: rgb(233, 215, 207);
  margin: 50px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

h1 {
  font-family: "Oswald";
  color: rgb(144, 104, 35);
}

p {
  font-family: sans-serif;
  color: rgb(144, 104, 35);
  background-color: bisque;
}

a {
  color: rgb(167, 1, 78);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#todays-challenge {
  color: rgb(0, 247, 62);
  font-weight: bold;
  font-size: 52px;
}
