body {
  font-family: 'Fira Sans', sans-serif;
  /* margin: 100px; */
}

/* img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
} */

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  color: burlywood;
  background-color: rgb(144, 104, 35)
}

p {
  color: rgb(144, 104, 35);
}

a {
  color: tomato;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  color: red;
}

#secret-message {
  color: rgb(237, 220, 195);
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
}
