header {
  margin-bottom: 64px;
}

h1 {
  font-size: 48px;
  margin: 0;
}

h2 {
  color: rgb(78, 13, 5);
  font-family: "Oswald", sans-serif;
}

a {
  padding: 0 48px;
  border: 4px solid blue;
  border-radius: 4px;
  background-color: rgb(1, 100, 70);
  color: black;
  text-decoration: none;
  margin: 0;
  display: inline-block;
}

a:hover,
a:active {
  background-color: rgb(1, 100, 100);
  color: white;
}

ol {
  list-style: none;
  width: 500px;
  margin: 36px auto 0 auto;
  padding: 0;
}

li {
  padding: 16px;
  margin: 16px;
  background-color: rgb(221, 137, 126);
  border-radius: 6px;
  box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.5);
  border-left: 5px solid transparent;
}

#description {
  margin: 12px 0;
}

/* header p {
  margin-bottom: 36px;
} */

/* main p {
  margin: 12px;
  color: rgb(71, 29, 22);
} */

.highlight-task {
  background-color: rgb(224, 124, 111);
}

footer a {
  padding: 12px 20px;
  border-radius: 8px;
  background-color: rgb(250, 201, 39);
  color: rgb(66, 51, 4);
  border-color: transparent;
}

footer a:hover,
footer a:active {
  background-color: rgb(255, 186, 58);
}