h1 {
  font-size: 48px;
  margin: 4px 0;
}

a {
  padding: 6px 48px;
  border: 4px solid blue;
  border-radius: 4px;
  background-color: rgb(1, 100, 70);
  color: black;
  text-decoration: none;
}

a:hover {
  background-color: rgb(1, 100, 100);
  color: white;
}

ol {
  list-style: none;
  width: 500px;
  margin: 36px auto 0 auto;
  padding: 0;
}

li {
  padding: 16px;
  margin: 16px;
  background-color: rgb(223, 136, 124);
  border-radius: 6px;
}
